body{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: white; 
    background-image: linear-gradient(to right,rgba(160, 134, 134, 0.841),rgba(255, 0, 0, 0.504));

}
input{
    height: 40px;
    width: 500px;
    border: 0;
    background-color: aliceblue;
    outline: 0;
    border-radius: 20px;
    padding: 10px;
    margin: 30px;
    font-size: 20px;
}
input:hover{
    background-color: rgb(212, 249, 249);
}
button{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    color: white;
    background-image: linear-gradient(to right , rgba(0, 0, 255, 0.375) , rgba(0, 128, 0, 0.244));
    font-size: 30px;
    margin: 10px;
    transition: .4s;
}
button:hover{
    color: white;
    background-color: aqua;
    transition: .6s;
}
@media (max-width:700px){
    body{
        font-size: 14px;
    }
    input{
        width: 300px;
    }
    button{
        width: 300px;
    }
}